@import "../../../base.scss";

.movie-card {
  background-color: rgb(255, 255, 255);
  color: rgb(63, 66, 85);
  box-shadow: $shadow;
  border-radius: 10px;
  width: 250px;
  height: 370px;
  margin: 20px; 
  img {
    margin-top: 20px;
    width: 200px;
    height: 250px;
  }
  h5 {
    margin: 10px;
  }
  &:hover {
    background-color: $second-color;
  } 
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    margin-left: 7%;
   }
}
