@mixin headerAdaptive() {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 50px;
  position: fixed;
  a {
    margin-bottom: -30px;
    margin-top: 10px;
    margin-right: 15%;
  }
}

.header {
  height: 70px;
  background-color: rgb(35, 36, 46);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  a {
    color: white;
  }
  @media only screen and (min-width: 320px) and (max-width: 480px) {
    @include headerAdaptive();
  }
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    @include headerAdaptive();
  }
}
